
 <%= stylesheet_link_tag    "calendarios", :media => "all" %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
   <div class="field"  style="color: black; border-radius: 4px; background-color: white; width: 700px; position:absolute;  top:50%; left:25%; margin-left: -5px; border: solid black 2px; margin-top:-200px; box-shadow: 4px 9px " align="center">

<div class="calendar-heading" align="center">

<%= month_calendar(attribute: :start_time) do |date| %>

  <%= date.day %>
<% end %>
</div>

<div id="data" align="center">
 
 <% notetempo = Time.new %>
 <%= notetempo.inspect %>
 </div>
 </div>