<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>


<!DOCTYPE html>
<html>
  <head>
    welcome to lamport !!
  </head>
  <body align="left">
 
      <div class="field"  style="background-color: white; width: 700px;   position:absolute;  top:50%; margin-right: -5px; margin-top:-200px; ">
    <h1 style="font-size 70px; font-family: monospace;" >Ola <%= @user.email %></h1>
    <p  style="width: 600px; color: black; higth: 70px; background-color: white;" align="center">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Email_icon.svg/1024px-Email_icon.svg.png" width="150" height="150" >
    <small style="font-family: monospace; font-size: 10px;">
      Sample mail sent using smtp por heisler lemos.
  orem ipsum dolor amet sartorial lyft before they sold out raclette, vape migas shoreditch microdosing echo park tote bag forage truffaut. Knausgaard godard biodiesel palo santo, vegan forage green juice bespoke mixtape craft beer man bun migas mustache. Tilde lyft man bun forage chicharrones, blog 3 wolf moon locavore prism succulents keytar woke. Pork belly salvia blog, hexagon drinking vinegar sustainable before they sold out master cleanse lomo hella vexillologist. 3 wolf moon ramps edison bulb flexitarian, air plant keffiyeh unicorn hammock woke selvage. Direct trade marfa freegan air plant. Yuccie taiyaki godard succulents, twee pickled kombucha deep v stumptown church-key fixie craft beer 90's.

Trust fund williamsburg heirloom forage bespoke kombucha fanny pack portland kickstarter copper mug keytar photo booth. You probably haven't heard of them hoodie post-ironic paleo trust fund tumeric mlkshk brooklyn tbh. Raclette cray 
    </small>
    </p> 


      </p> 
    </div>
  </body>
</html>
