<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%= render 'form', evento: @evento %>
<br>
<br>
<br>
<p align="center">
<%= link_to 'Ver', @evento , class: "btn btn-default" %> 
<%= link_to 'Voltar', eventos_path, class: "btn btn-default"  %>
</p>