<h1 align="center">Editar Evento</h1>

<%= render 'form', evento: @evento %>

<%= link_to 'Ver', @evento , class: "btn btn-default" %> |
<%= link_to 'Voltar', eventos_path, class: "btn btn-default"  %>
