<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
 <div class="field"  style="color: black; border-radius: 4px; background-color: white; width: 900px;   position:absolute;  top:50%; left:15%; margin-left: -5px; border: solid black 2px; margin-top:-200px; box-shadow: 4px 9px; " align="center">
<%= render 'form', evento: @evento %>
<br>
<br>
<br>
<p align="center">
<%= link_to 'Ver', @evento , class: "btn btn-default" %> 
<%= link_to 'Voltar', eventos_path, class: "btn btn-default"  %>
</p>
</div>