<br>
<br>
<br>
<br>
<br>
<br>
<p style="background-color: red;">
<%= render 'form', evento: @evento  %>
<br>
<br>
<p align="center">
<br>
<%= link_to 'Back', eventos_path, class: "btn btn-default" %>
</p>
<p>
<p>