<h1>Editing Lamport Note</h1>
<%= stylesheet_link_tag "lamport_notes", :media => "all" %>

<%= render 'form', lamport_note: @lamport_note %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p align="center">
<%= link_to @lamport_note do  %> 
<i class="fas fa-eye fa-2x" style="color: black;"></i>
<% end %>
<%= link_to lamport_notes_path do %>
<i class="fas fa-undo-alt fa-2x" style="color: black; margin-left: 30px;"></i>
<% end %>
</p>