// Place all the styles related to the Bemvindos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; 
}

#background_welcome {
        background-color: rgba(0, 0, 0, 0.4); 
        
}

#city {
        background: url('happy_fox__with__svg__by_digitalcircuit-d51lm70.png') no-repeat;
        background-size: 100%;

}
div.progress { 
position: absolute;
bottom: 55px;
left: 10px;
}

#bemvindofonte {
font-family: 'monospace', cursive;
/**font-family: 'Sacramento', cursive;**/
font-size: 36px;
color: white;
align-content: center;

background-color: black;
width: 590px;
height: 527px;
border-radius: 1px;
  opacity: 0.7;
}

div.image {
/**background-image: image-url("tumblr_nx0yjfq96q1uiwksso1_500.png");**/
background: url('background-city.png') no-repeat;

   /** width: 700px;
    height:  700px; **/
    width: auto;
    height: auto;
    margin-left: 900px;
   margin-bottom: 300px; 
   /**position: fixed;**/
   -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; 
  }

.wrapper {  
	display: grid;
	grid-template-columns: 60% 38%;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
}	