// Place all the styles related to the Eventos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
}




#containter {
	margin-left: 2px;
	width: 150px;
	height: 150px;
	color: white;
	border-radius: 3px;
	padding: 1em;
	background-color: lightblue;
	border: solid black 1px;
	box-shadow: 12px 19px;
	margin-bottom: 10px;
}