// Place all the styles related to the Eventos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
}




#containter {
	margin-left: 50px;
	width: 500px;
	height: 120px;
	color: white;
      border: 1px solid black;
	border-radius: 3px;
	padding: 1em;
	background-color: lightblue;
}