// Place all the styles related to the Lamport_notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {

}

#lamport_show {
  width: 90%;
  position: absolute;

  h1 {
    font-weight: bold;
    font-size: 6.0rem;
    margin-bottom: 1.25rem;
      padding-bottom: 1rem;
    border-bottom: 1px solid #E9E9E9;
  }
  p {
    font-size: 1.5rem;
    line-height: 1.75;
    width: 70%;
  }
}
  
#botao {
  margin-top: 30%;  
  padding: .5rem 2rem;
  border-radius: 6rem;
  line-height: 200%;
}

.digg_pagination {

  /**background-color: hsl(0, 40%, 50%);**/
  /**background-color: black;**/

  border-radius: 6px;

}


.col-md-4 {
  position: relative;
  min-height: 1px;
  padding-right: 9px;
  padding-left: 5px;
}

#alinhamento {
  width:440px;
  height: 140px;
  border: 1px solid;
  padding: 25px;
  background: white;
  display: block;
  border-radius: 1px;
  padding: 10px 20px;
  transition: 0.5s;
  box-sizing: border-box;
  margin-left: auto;
  margin-bottom: 20px;
  margin-right: auto;
  padding: 1.4em 1.4em;
  height: 190px;
  border-bottom: 5px solid black;
}

#formulario {
  background-color: lightgrey;
 padding: 1.4em 1.4em;
 margin-right: auto;
}

#navform {
align-self: top;
}

#new_page {
margin: 0 0 20px 0;
background-color: white;
border-radius: 3px;
}
